html {
  scroll-behavior: smooth;
}

.header {
  z-index: 1;
  width: 100%;
  position: fixed;
  background-color: #F29B44;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 50px;
  height: 80px;
}

@media (max-width: 850px) {
  .header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 800px) {
  .header .navbar {
    padding: 25px;
  }
}

.header .navbar .nav-left .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 50px;
  font-weight: 800;
  color: #eeeeee;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .navbar .nav-left .logo i {
  color: #2C5BF2;
}

.header .navbar .nav-left .logo p {
  font-size: 20px;
}

.header .navbar .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  margin-right: 3%;
  background-color: #ff9d00;
  border: 2px solid #8e8e8e;
  border-radius: 10px;
  text-align: center;
  padding: 0.5rem 1.5rem;
}

.header .navbar .message p {
  line-height: 3vh;
  width: 100%;
  white-space: nowrap;
  color: white;
  font-weight: bold;
  overflow: hidden;
}

@media (max-width: 1383px) {
  .header .navbar .message {
    position: absolute;
    width: 100%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    top: 100px;
  }
  .header .navbar .message p {
    max-width: 600px;
  }
}

@media (max-width: 850px) {
  .header .navbar .message {
    display: none;
  }
}

.header .navbar .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 850px) {
  .header .navbar .nav-right {
    display: none;
  }
}

.header .navbar .nav-right .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .nav-right .nav-list .list-item {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 600;
}

.header .navbar .nav-right .nav-list .list-item .list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .navbar .nav-right .nav-list .list-item .list-box i {
  padding-left: 3px;
}

.header .navbar .nav-right .nav-list .list-item .list-box:hover {
  color: white;
  letter-spacing: 2px;
}

.header .navbar .nav-right .nav-list .list-item a {
  white-space: nowrap;
}

@media (max-width: 850px) {
  .header .navbar .nav-right .nav-list .list-item {
    width: 100vw;
  }
}

.burger-list {
  display: none;
}

@media (max-width: 850px) {
  .burger-list {
    display: block;
    position: absolute;
    top: 50%;
    right: 0%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    cursor: pointer;
  }
}

.burger-list .burger-inner .button-box .button {
  background-color: #2C5BF2;
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
}

.burger-list .burger-inner .button-box .button.active {
  padding: 5px;
  background-color: #eeeeee;
  border: 5px solid #2C5BF2;
}

.burger-list .burger-inner .button-box .button .trun {
  color: #eeeeee;
}

.burger-list .burger-inner .button-box .button .trun.active-two {
  color: #2C5BF2;
}

.burger-list .burger-inner .burger-box {
  position: absolute;
  top: 65px;
  right: 0px;
}

.burger-list .burger-inner .burger-box .dropdown {
  width: 50vw;
  display: none;
}

.burger-list .burger-inner .burger-box .dropdown .list-item {
  padding: 30px 20px;
  background-color: #F25F38;
  border: 5px solid black;
  border-bottom: unset;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger-list .burger-inner .burger-box .dropdown .list-item:hover {
  background-color: white;
}

.burger-list .burger-inner .burger-box .dropdown .list-item:hover .list-box {
  color: #F25F38;
  letter-spacing: 3px;
}

.burger-list .burger-inner .burger-box .dropdown .list-item .list-box {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger-list .burger-inner .burger-box .dropdown .list-item .list-box i {
  padding-left: 10px;
}

.burger-list .burger-inner .burger-box .dropdown .list-footer {
  height: 50px;
  background-color: #2B0215;
  border-radius: 0px 0px 20px 20px;
}
/*# sourceMappingURL=navbar.css.map */