$main_text:rgb(12, 3, 95);

body {
    &::-webkit-scrollbar {
        width: 20px;
    }

    &::-webkit-scrollbar-track {
        // background-color: #faf9f3;
        background-image: linear-gradient(#F2C650, #fffdf0, #F2C650);
        // margin: 20px 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #F25F38;
        border-radius: 50px;

        &:hover{
          // background-image: linear-gradient(#e94619,#ff9500);
          background-color: #2c5bf2;

        }
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.d-block {
    display: block;
}

#about-me {
    #introduce {
        background-color: #eeeeee;
        width: 100%;
        // height: calc(100vh - 100px);
        display: flex;
        align-items: center;
        justify-content: center;


        .head-img {
            // width: 400px;
            width: 300px;
            border: 10px solid #f29b44;
            margin: 0px 5%;
            box-shadow: 30px 20px 0px 10px #F2C650;
            line-height: 0%;
            font-size: unset;

            @media(max-width:800px) {
                margin-top: 50px;
            }

        }

        // 個人主資訊區
        .my-information {
            margin: 0px 5%;
            width: 400px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            // 簡短介紹
            .introduce-word {
                font-size: 24px;
                font-weight: 600;
                line-height: 40px;
                padding: 30px 0px;
            }

            // 基本資料區
            .information-box {
                h2 {
                    text-align: center;
                    font-size: 30px;
                    font-weight: 600;
                    color: #000000;
                    padding: 20px 0px;
                    border-top: 3px solid #f29b44;
                    border-bottom: 3px solid #f29b44;


                }

                .information-list {
                    display: flex;
                    align-items: center;
                    padding-top: 20px;

                    p {
                        font-size: 20px;
                        font-weight: 600;
                        padding-left: 10px;
                    }

                }
            }

            @media(max-width:800px) {
                .introduce-word {
                    padding: 50px 0px 25px 0px;
                }

                .information-box {
                    h2 {
                        padding: 20px 0px;
                    }

                    .information-list {
                        padding: 20px 0px 0px 0px;
                    }
                }
            }

        }

        @media(max-width:800px) {
            flex-direction: column;
            height: unset;
        }

    }

}

#Andy-skill {
    // padding-top: 50px;
    background: #eeeeee;
    padding: 50px 5% 0px 5%;

    .skill-title {
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        padding: 20px 0px;
        background-color: #eeeeee;
        border-top: 3px solid #f29b44;
        border-bottom: 3px solid #f29b44;


    }

    .skill-box {
        background-color: #eeeeee;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 50px 0px;

        .skill-project {
            width: 350px;
            margin: 0px 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .project-title {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;

                h2 {
                    background-color: #f29b44;
                    font-size: 30px;
                    font-weight: 600;
                    color: #eeeeee;
                    padding: 10px 0px;
                    border-radius: 10px;

                }
            }

            .skill-list {
                width: 100%;

                .skill {
                    padding-top: 10px;

                    h3 {
                        font-size: 24px;
                        font-weight: 600;
                        color: #007bff;
                    }

                    ul {

                        li {
                            font-size: 20px;
                            font-weight: 600;
                            padding: 10px 0px;
                            line-height: 30px;
                        }
                    }
                }
            }

            @media(max-width:1000px) {
                margin: 0% 3%;
            }

        }

    }

    @media(max-width:850px) {
        padding: 50px 0px 0px 0px;

        .skill-box {
            padding: 0px;
            flex-direction: column;
            align-items: center;

            .skill-project {
                padding-top: 50px;
                width: 70%;
                margin: 0%;
                text-align: center;

                .skill-list {
                    .skill {
                        h3 {
                            font-size: 30px;
                        }
                    }
                }
            }
        }

    }

    @media(max-width:600px) {
        .skill-box {
            .skill-project {
                width: 300px;

                .skill-list {
                    .skill {
                        h3 {
                            font-size: 24px;
                        }
                    }
                }
            }
        }

    }

}

#course {
    // padding-top: 50px;
    background: #eeeeee;
    padding: 50px 5% 0px 5%;

    .course-title {
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        padding: 20px 0px;
        background-color: #eeeeee;
        border-top: 3px solid #f29b44;
        border-bottom: 3px solid #f29b44;

    }

    .course-area {
        position: relative;
        padding: 50px 0px;

        .course-box {
            //時間線
            position: relative;
            width: 5px;
            left: calc(50% - 200px);
            padding-bottom: 50px;
            background: #f29b44;

            // 時間點
            &::after {
                content: '';
                position: absolute;
                left: 50%;
                top: 0%;
                transform: translate(-50%, 0%);
                width: 30px;
                height: 30px;
                background-color: #f29b44;
            }

            // 時間線箭頭
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0%;
                transform: translate(-50%, 100%) rotate(0deg);
                width: 30px;
                height: 30px;
                background-color: #f29b44;
                // 箭頭
                // border-width: 15px 15px 0 15px;
                // border-color: #f29b44 transparent transparent transparent;
                // background-color: #f29b44;
            }

            // 經歷欄位設定
            .course-text {
                position: relative;
                bottom: 0;
                width: 400px;

                display: flex;
                flex-direction: column;
                justify-content: center;

                h4 {
                    font-size: 30px;
                    font-weight: 600;
                    color: #007bff;
                }

                .text-title-one {
                    font-size: 30px;
                    font-weight: 600;
                    color: #f29b44;
                    padding: 10px 0px;
                }

                span {
                    font-size: 16px;
                    line-height: 25px;
                }

                @media(max-width:700px) {
                    width: 320px;

                    h4 {
                        font-size: 24px;
                    }

                    .text-title-one {
                        font-size: 24px;
                    }
                }

            }

            //右側說明
            .right {
                left: 45px;
            }
        }

    }
}

// 結訓專題
#projects {
    // padding-top: 50px;
    background: #eeeeee;
    padding: 50px 5% 0px 5%;

    .project-title {
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        padding: 20px 0px;
        background-color: #eeeeee;
        border-top: 3px solid #f29b44;
        border-bottom: 3px solid #f29b44;
    }


    .team-project {
        word-break: break-all;

        .project-name {
            width: 50%;
            text-align: center;
            margin: auto;
            padding: 50px 0px;


            h2 {
                background-color: #f29b44;
                font-size: 30px;
                font-weight: 600;
                color: #eeeeee;
                padding: 10px 0px;
                border-radius: 10px;

            }
        }

        // 結訓專題
        .all-pass-project {
            display: flex;
            justify-content: center;

            .all-pass-img {
                width: 300px;
                border: 10px solid #f29b44;
                margin: 0px 20px;

            }

            .all-pass-information {
                margin: 0px 20px;
                width: 350px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                // 專案標題
                .project-word {
                    font-size: 40px;
                    font-weight: 800;
                    line-height: 50px;
                    padding: 0px 0px 10px 0px;
                    color: #007bff;
                }

                // 基本資料區
                .project-process {
                    .project-tool-list {
                        h2 {
                            font-size: 24px;
                            font-weight: 600;
                            color: #F25F38;
                        }

                        .project-tool {
                            h3 {
                                font-size: 20px;
                                font-weight: 600;
                                color: #f29b44;
                                padding-top: 10px;
                            }

                            li {
                                font-size: 20px;
                                padding-top: 5px;
                            }
                        }

                    }
                }

            }

            @media(max-width:800px) {
                flex-direction: column;
                align-items: center;

                .all-pass-information {
                    margin: 0;
                    width: 350px;

                    // padding: 50px 0px;
                    @media(max-width:650px) {
                        width: 350px;
                    }

                    // 專案標題
                    .project-word {
                        text-align: center;
                        padding-top: 30px;

                    }

                    // 基本資料區
                    .project-process {
                        .project-tool-list {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            h2 {

                                font-size: 24px;
                                font-weight: 600;
                                color: #F25F38;
                                padding: 20px 0px;
                            }

                            .project-tool {
                                width: 100%;

                                h3 {
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: #f29b44;
                                    padding-bottom: 5px;
                                }

                                ul {
                                    li {
                                        font-size: 20px;
                                        padding-bottom: 10px;
                                    }

                                }
                            }

                        }
                    }
                }
            }

        }

        .my-project-work {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 50px 0px;

            h3 {
                font-size: 30px;
                font-weight: 600;
                color: #007bff;
                padding-bottom: 30px;
            }

            ul {
                width: 600px;

                li {
                    font-size: 20px;
                    font-weight: 600;
                    padding-bottom: 10px;
                    line-height: 30px;
                    text-align: justify;
                    text-justify: auto;

                    span {
                        color: #F25F38;

                        span {
                            color: #F25F38;
                            font-size: 20px;
                        }
                    }
                }
            }

            @media(max-width:800px) {
                ul {
                    width: 80%;
                }
            }

        }

        .project-link {
            width: 50%;
            text-align: center;
            margin: auto;
            padding-top: 50px;


            h2 {
                background-color: #F25F38;
                font-size: 30px;
                font-weight: 600;
                color: #eeeeee;
                padding: 30px 0px;
                border-radius: 10px;
                transition: 0.5s;

                &:hover {
                    background-color: #eeeeee;
                    border: 10px solid #F25F38;
                    padding: 25px 0px;
                    color: #F25F38;
                }

            }
        }
    }


    // 我的網頁作品
    #my-work {
        padding: 0px 5%;
        width: 100%;

        // 項目區域
        .box-inner {
            text-align: center;

            .work-heading {
                width: 100%;
                text-align: center;
                font-size: 30px;
                font-weight: 600;
                padding: 20px 0px;
                background-color: #eeeeee;
                border-top: 3px solid #f29b44;
                border-bottom: 3px solid #f29b44;
            }

            .work {
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
                padding: 50px 0px;

                // 項目卡片
                .work-card {
                    // flex: 0 0 auto;
                    width: 30%;
                    min-width: 0;
                    padding: 0.5rem;

                    margin: 0px calc(10% / 6) 50px calc(10% / 6);
                    display: flex;
                    flex-direction: column;
                    word-wrap: break-word;
                    background-color: #ffffff;
                    // margin-bottom: 50px;
                    transition: 0.5s;

                    // 設置元素的背景（背景图片或颜色）是否延伸到边框、内边距盒子、内容盒子下面。
                    background-clip: border-box;
                    border: 1px solid rgba(0, 0, 0, .125);
                    border-radius: 0.25rem;

                    // 項目種類
                    .work-name {
                        background-color: #F25F38;
                        font-size: 24px;
                        color: #eeeeee;
                        font-weight: 800;
                        text-align: center;
                        padding: 10px 6px;
                    }

                    .img-box {
                        text-align: center;
                    }
                    .work-title {
                        background-color: #f29b44;
                        width: 100%;
                        padding: 10px;
                        font-size: 20px;
                        font-weight: 600;
                        color: black;
                        // 使文字完美至中，故設 flex和text-align: center
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;

                        border-radius: 0px 0px 10px 10px;
                        margin-bottom: 5px;
                    }

                    .work-body {
                        flex: 1 1 auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        // 項目名稱

                        // 備註
                        .work-text {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            padding: 5px 10px;
                            font-size: 1rem;
                            font-weight: 600;
                            // 讓所有備註靠邊對齊，故設寬100%
                            width: 100%;
                            // 對齊備註與價格，故設flex: 1;
                            // flex: 1;
                            color: #007bff;
                            line-height: 20px;
                            // line-height:5px
                        }

                        .work-text-two {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            padding: 5px 10px;
                            font-size: 1rem;
                            font-weight: 600;
                            // 讓所有備註靠邊對齊，故設寬100%
                            width: 100%;
                            // 對齊備註與價格，故設flex: 1;
                            // flex: 1;
                            color: #363B45;
                            line-height: 20px;
                            // line-height:5px
                        }

                        .work-time {
                            padding: 10px 0px;
                            font-size: 18px;
                            font-weight: 600;
                            color: #f95223;
                            // 對齊備註與價格，故設flex: 1;
                            // flex: 1;
                        }
                    }

                    &:hover {
                        border: 7px solid #F25F38;
                    }

                    @media(max-width:1100px) {
                        margin: 0px calc(20% / 4) 50px calc(20% / 4);

                        width: 40%;
                    }

                    @media(max-width:910px) {
                        margin: 0px calc(10% / 4) 50px calc(10% / 4);

                        width: 45%;
                    }

                    @media(max-width:800px) {
                        .work-name {
                            font-size: 18px;
                        }
                    }

                    @media(max-width:800px) {
                        width: 100%;
                    }


                }
            }

        }


        // 項目區域於斷點拉寬100%
        @media(max-width:810px) {
            width: 100%;
        }


    }

    #my-certificate {
        padding: 0px 5%;
        width: 100%;

        // 項目區域
        .certificate-box {
            text-align: center;

            .certificate-heading {
                width: 100%;
                text-align: center;
                font-size: 30px;
                font-weight: 600;
                padding: 20px 0px;
                background-color: #eeeeee;
                border-top: 3px solid #f29b44;
                border-bottom: 3px solid #f29b44;
            }

            .certificate {
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
                padding: 3% 0px;

                // 項目卡片
                .certificate-card {
                    // flex: 0 0 auto;
                    width: 30%;
                    min-width: 0;
                    padding: 0.5rem;
                    margin: 0px calc(10% / 6) 50px calc(10% / 6);
                    display: flex;
                    flex-direction: column;
                    word-wrap: break-word;
                    background-color: #ffffff;
                    // margin-bottom: 50px;
                    transition: 0.5s;
                    cursor: pointer;

                    // 设置元素的背景（背景图片或颜色）是否延伸到边框、内边距盒子、内容盒子下面。
                    background-clip: border-box;
                    border: 1px solid rgba(0, 0, 0, .125);
                    border-radius: 0.25rem;

                    // 項目種類
                    .certificate-name {
                        background-color: #F25F38;
                        font-size: 24px;
                        color: #eeeeee;
                        font-weight: 800;
                        text-align: center;
                        padding: 10px 6px;
                    }

                    .certificate-img {
                        text-align: center;

                    }

                    .certificate-body {
                        flex: 1 1 auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        // 項目名稱
                        .certificate-title {
                            background-color: #f29b44;
                            width: 100%;
                            padding: 10px;
                            font-size: 20px;
                            font-weight: 600;
                            color: black;
                            // 使文字完美至中，故設 flex和text-align: center
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;

                            border-radius: 0px 0px 10px 10px;
                            margin-bottom: 5px;
                        }

                        // 備註
                        .certificate-text {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            padding: 5px 10px;
                            font-size: 1rem;
                            font-weight: 600;
                            // 讓所有備註靠邊對齊，故設寬100%
                            width: 100%;
                            // 對齊備註與價格，故設flex: 1;
                            flex: 1;
                            color: #007bff;
                            line-height: 20px;
                            // line-height:5px
                        }

                        .certificate-text-two {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            padding: 5px 10px;
                            font-size: 1rem;
                            font-weight: 600;
                            // 讓所有備註靠邊對齊，故設寬100%
                            width: 100%;
                            // 對齊備註與價格，故設flex: 1;
                            flex: 1;
                            color: #363B45;
                            line-height: 20px;
                            // line-height:5px
                        }

                        .certificate-time {
                            padding: 10px 0px;
                            font-size: 18px;
                            font-weight: 600;
                            color: #f95223;
                            // 對齊備註與價格，故設flex: 1;
                            // flex: 1;
                        }
                    }

                    &:hover {
                        border: 7px solid #F25F38;
                    }

                    @media(max-width:1100px) {
                        margin: 0px calc(20% / 4) 50px calc(20% / 4);
                        width: 40%;
                    }

                    @media(max-width:910px) {
                        margin: 0px calc(10% / 4) 50px calc(10% / 4);
                        width: 45%;
                    }

                    @media(max-width:800px) {
                        .certificate-name {
                            font-size: 18px;
                        }
                    }

                    @media(max-width:800px) {
                        width: 100%;
                    }
                }
            }

        }


        // 右邊餐點項目區域於斷點拉寬100%
        @media(max-width:810px) {
            width: 100%;
        }


    }


    //彈跳式視窗
    //技術來自於作者John David https://morioh.com/p/7665c95bc0ef
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal-Content樣式 */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 30px;
        border: 5px solid #007bff;
        width: 60%;

        @media(max-width:768px) {
            width: 80%;
        }

        @media(max-width:425px) {
            width: 90%;
        }
    }

    /* 關閉紐樣式 */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

}

#footer {
    width: 100%;
    background-color: #f29b44;

    .copy-right {

        color: #eeeeee;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 600;
    }
}